@CHARSET "UTF-8";
#header {
	height: 70px;	
}

#visual {
	height: 171px;	
	/* background: #313131 url("../images/bg-visual.png") no-repeat  center; */
	border-top:3px solid #8CBA34;	
}

#body {
	min-height: 300px;	
	border-top:5px solid #8CBA34;
	margin-top:1px;
	
}

#footer {
	height: 100px;	
	background: #313131;
	
}

.content-wrapper {
	width: 960px;
	height: 100%;
	min-height: inherit;
	margin-left: auto;
	margin-right: auto;
}

#aside {
	height: inherit;
	width: 205px;
	float: left;
}

#main {
	height: inherit;
	width: 755px;
	float: left;
}

#quick-menu{
	height: 10px;
	width:100%;
	position:fixed;	
	bottom: 0px;
}

#quick-menu:hover{
	height: 70px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#visual .content-wrapper {
	background: url("../customer/images/visual.png") no-repeat center;
}