@CHARSET "UTF-8";

body {
   font-family : 돋움, Arial, sans-serif;
   font-size : 11px;
   color : #979797;
}

.hidden{
	display: none;
}

/* -- 공통 버튼 스타일 ------------------------------------------------ */

.button {
	display:inline-block;
	overflow:hidden;
	border:0px;
	text-indent: -100px;
}
.button:hover {
	cursor: pointer;
}
.search-button{
	width:49px;
	height:23px;
	background: url("../images/btn-search.png") no-repeat center;	
}
.zoom-button{
	width:31px;
	height:25px;
	background: url("../images/btn-zoom.png") no-repeat center;	
}
.customer-button{
	width:72px;
	height:17px;
	background: url("../images/menu-customer.png") no-repeat center;	
}
.mypage-button{
	width:72px;
	height:17px;
	background: url("../images/menu-mypage.png") no-repeat center;	
}
