<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
				<property name="url" value="jdbc:sqlserver://211.238.142.250:1433;databaseName=newlecdb;" />
				<property name="username" value="sist" />
				<property name="password" value="classf" />
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>		
		<mapper resource="com/newlecture/web/dao/mybatis/mapper/NoticeDao.xml" />
		<mapper resource="com/newlecture/web/dao/mybatis/mapper/NoticeFileDao.xml" />
		<mapper resource="com/newlecture/web/dao/mybatis/mapper/MemberDao.xml" />
	</mappers>
</configuration>